block header
	header.site-header
		.shadow
		.site-header__inner
			button.main-nav__btn
			nav.main-nav#main-nav
				.main-nav__inner
					.login-wrap
						a(href="#") Войти
						span.separator |
						a(href="#") Регистрация
					ul.main-nav__list
						li.main-nav__list-item
							a(href="#") Главная
						li.main-nav__list-item
							a(href="#") Мои заказы
						li.main-nav__list-item
							a(href="#") Корзина
						li.main-nav__list-item
							a(href="#") Центр помощи
						li.main-nav__list-item
							a(href="#") Обратная связь
						li.main-nav__list-item
							a(href="#") Корзина
			.logo
				a.logo__link(href="/") UNISHOP.BY
			.search
				button.search__btn
				.search__layout
					.search__layout-inner
						input.search__layout-input(type="text", placeholder="Placeholder")
						button.search__layout-submit
					.search__result
						.search__result-inner
							ul.result__list
								li.result__list-item
									a(href="#") телефон
								li.result__list-item
									a(href="#") телефон
								li.result__list-item
									a(href="#") телефон
								li.result__list-item
									a(href="#") телефон
								li.result__list-item
									a(href="#") телефон
								li.result__list-item
									a(href="#") телефон
								li.result__list-item
									a(href="#") телефон
								li.result__list-item
									a(href="#") телефон
								li.result__list-item
									a(href="#") телефон
								li.result__list-item
									a(href="#") телефон
								li.result__list-item
									a(href="#") телефон
								li.result__list-item
									a(href="#") телефон
								li.result__list-item
									a(href="#") телефон
								li.result__list-item
									a(href="#") телефон
								li.result__list-item
									a(href="#") телефон
								li.result__list-item
									a(href="#") телефон
								li.result__list-item
									a(href="#") телефон
								li.result__list-item
									a(href="#") телефон
								li.result__list-item
									a(href="#") телефон
								li.result__list-item
									a(href="#") телефон
								li.result__list-item
									a(href="#") телефон
								li.result__list-item
									a(href="#") телефон
								li.result__list-item
									a(href="#") телефон
								li.result__list-item
									a(href="#") телефон
