extends _layout
block content
	main.main-content.cf(role="main")
		h1 Basic Jade-Sass template
		.some-block
			p Blank template for frontend developers using gulp 4, sass, jade, autoprefixer, auto sprite generator and much more. <br>
				a(href="https://github.com/narek-t/gulp-sass-jade") https://github.com/narek-t/gulp-sass-jade

block inlineScripts