extends _layout
block content
	main.main-content.cf(role="main")
		ul.main-list
			li.main-list__item
				a(href="#") Электроника
			li.main-list__item
				a(href="#") Бытовая техника
			li.main-list__item
				a(href="#") Компьютерная техника
			li.main-list__item
				a(href="#") Все для ремонта
			li.main-list__item
				a(href="#") Продавцы
			li.main-list__item
				a(href="#") Электроника
			li.main-list__item
				a(href="#") Бытовая техника
			li.main-list__item
				a(href="#") Компьютерная техника
			li.main-list__item
				a(href="#") Все для ремонта
			li.main-list__item
				a(href="#") Продавцы
			li.main-list__item
				a(href="#") Электроника
			li.main-list__item
				a(href="#") Бытовая техника
			li.main-list__item
				a(href="#") Компьютерная техника
			li.main-list__item
				a(href="#") Все для ремонта
			li.main-list__item
				a(href="#") Продавцы
			li.main-list__item
				a(href="#") Электроника
			li.main-list__item
				a(href="#") Бытовая техника
			li.main-list__item
				a(href="#") Компьютерная техника
			li.main-list__item
				a(href="#") Все для ремонта
			li.main-list__item
				a(href="#") Продавцы

block inlineScripts
